.loading-screen {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #a4a4a4;
}
.menu-button {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f4f4f4;
	border-radius: 50%;
	box-shadow: 2px 2px 8px 0px #66666685;
	cursor: pointer;
}
